.product-sec1 {
    box-shadow: 0px 0px 15px 0px #D6D6D6;
    padding: 30px 20px;
    margin-bottom: 14px;
}

.container-fluid {
  max-width: 960px;
}

[data-toggle="collapse"] {
  cursor: pointer;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.valign-middle {
  vertical-align: middle !important;
}

@media screen and (max-width: 767px) {
  .table-responsive thead,
  .table-responsive tbody,
  .table-responsive tfoot,
  .table-responsive tr,
  .table-responsive th,
  .table-responsive td {
    display: block;
  }
  .table-responsive thead {
    display: none;
  }
  .table-responsive .align-center,
  .table-responsive .align-right {
    text-align: inherit;
  }
  .table-responsive tr {
    border-top: 1px solid #ddd;
  }
  .table-responsive tr:first-child {
    border: 0;
  }
  .table-responsive > tbody > tr > td {
    padding-left: 50%;
    border-top-color: rgba(221, 221, 221, 0.5);
  }
  .table-responsive > tbody > tr > td:first-child {
    border: 0;
  }
  .table-responsive [data-label] {
    position: relative;
  }
  .table-responsive [data-label]:before {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px;
    content: attr(data-label);
    font-weight: bold;
  }

  .navbar-fixed-top.visible-xs + .row {
    padding-top: 60px;
  }

  .btn .visible-xs {
    display: inline-block !important;
  }

  .sliding-sidebar {
    position: absolute;
    z-index: 1;
    background: #fff;
    min-height: 100%;
    border-right: 1px solid #ccc;
  }
  .sliding-sidebar.collapse, .sliding-sidebar.collapsing {
      width:70%;
    display: block !important;
    -webkit-transform: translate3D(-100%, 0, 0);
            transform: translate3D(-100%, 0, 0);
    transition: all 200ms;
  }
  .sliding-sidebar.collapse.in {
    -webkit-transform: translate3D(0, 0, 0);
            transform: translate3D(0, 0, 0);
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05), 2px 0 0 rgba(0, 0, 0, 0.05), 3px 0 0 rgba(0, 0, 0, 0.05);
  }
}
.parent-collapsed {
  display: none;
}

.collapsed .parent-expanded {
  display: none;
}
.collapsed .parent-collapsed {
  display: inline-block;
}


.file-upload {
	position: relative;
	display: inline-block;

}

.file-upload__label {
  display: block;
  padding: 0.5em 0.5em;
  color: #fff;
  background: #222;
  border-radius: .4em;
  transition: background .3s;
  float:right;
  font-size:14px;
  &:hover {
     cursor: pointer;
     background: #000;
  }
}
    
.file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width:0;
   
    opacity: 0;
}



#img-upload{
    width: 100%;
    margin-bottom:5px;
}


#editing_net{
	text-align:center;
	margin-top:10px;
	font-size:12px;
	padding:7px;
}

#login_net{
	font-size:12px;
	color:#222;
	padding:6px 15px;
	margin-top:5px;

}




.contain {
    position: absolute;
   top:20%;
	left:34%;
    margin: 20px;
    max-width: 400px;
    padding: 20px;
    background-color: white;
	
}


.log_net {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
	font-size:12px;
}


#net_msg{
font-size:13px;
	color:red;
	margin-bottom:8px;
}

.production{

    box-shadow: 0px 0px 1px 0px #D6D6D6;
    padding: 30px 20px;
    margin-bottom: 14px;
	margin-top:-14px;
background-color:#EBFAFA;

}

.globe-container
{
    
    width:25px;
    height:25px;
    border:1px solid transparent;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    overflow:hidden;
    background:url(http://fengel.com/testing/earthMap_92h.png) top left no-repeat;
    -webkit-animation: rotate 10s infinite linear;
    -moz-animation: rotate 10s infinite linear;
    -ms-animation: rotate 10s infinite linear;
 
}


@-webkit-keyframes rotate{
  0% {
   background-position:0px 0px;
  }
  100% {
     background-position:-160px 0px;
  }

}

@-ms-keyframes rotate{
   0% {
   background-position:0px 0px;
  }
  100% {
     background-position:-160px 0px;
  }
}
@-moz-keyframes rotate{
 0% {
   background-position:0px 0px;
  }
  100% {
     background-position:-160px 0px;
  }
}

@media(max-width: 568px){
.globe-container{
	margin-left:45%;
}

}


@media screen and (max-width: 767px) {
.contain{
	position:relative;
	top:18%;
	left:0%;

}
}



